@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


:root {
  --primary-color: #252323;
  --secondary-color: #70798C;
  --tertiary-color: #F5F1ED;
  --footer-color: #A99985;
}

body {
    background-color: var(--primary-color);
    font-family: Quicksand
  }

h1 {
  color: var(--tertiary-color);
  font-size: 5rem;
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

h2 {
  color: var(--secondary-color);
  font-size: 3.5rem;
  padding-bottom: 15%;
  padding-top: 5%;
  text-align: center;
}

.intro-text {
  color: var(--tertiary-color);
  font-size: 2rem;
  text-align: center;
  padding: 5%;
}

.main-content {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.project {
  background-color: var(--tertiary-color);
  margin: 3%;
  max-width: 480px;
}

.project-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3%;
}

.project-text {
  font-size: 1.5rem;
  font-weight: bold; 
}

.btn {
  background-color: var(--secondary-color);
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 18px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover,
.btn:focus { 
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn:active {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

footer {

}
